body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding:10px;
    width: 250px;
    height: 250px;
}

.displayDiv {
    display: flex;
    justify-content: center;
}

#display {
    height: 25px;
    width: 150px;
    background-color: #1ccec2;
    color: darkslategray;
}

::placeholder {
    color: darkslategrey;
}

.btnDiv {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    width: 175px;
}

.numBtns {
    align-items: center;
    width: 35px;
    height: 35px;
    color: cadetblue;
    background-color: darkslategray;
}

.operBtns {
    width: 35px;
    height: 35px;
    color: darkslategray;
    background-color: coral;
}

#equalBtn {
    width: 75px;
    background-color: #731010;
    color: lightskyblue;
}

#decimalBtn {
    background-color: darkslategray;
    color: cadetblue;
}

/* Order of buttons (17 total)*/
#zeroBtn {order: 16;}
#oneBtn {order: 12;}
#twoBtn {order: 13;}
#threeBtn {order: 14;}
#fourBtn {order: 8;}
#fiveBtn {order: 9;}
#sixBtn {order: 10;}
#sevenBtn {order: 4;}
#eightBtn {order: 5;}
#nineBtn {order: 6;}
#addBtn {order: 3;}
#subBtn {order: 7;}
#multBtn {order: 11;}
#divideBtn {order: 15;}
#equalBtn {order: 18;}
#clearBtn {order: 0;}
#decimalBtn {order: 17;}
#negPosBtn {order: 1;}
#percentBtn {order: 2;}
