body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding:10px;
    width: 250px;
    height: 250px;
}

.displayDiv {
    display: flex;
    justify-content: center;
}

#display {
    height: 25px;
    width: 150px;
}

.btnDiv {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    width: 175px;
}

.numBtns {
    align-items: center;
    width: 35px;
    height: 35px;
}

.operBtns {
    width: 35px;
    height: 35px;
}

/* Order of numbers */
#zeroBtn {order: 0;}
#oneBtn {order: 0;}
#twoBtn {order: 0;}
#threeBtn {order: 0;}
#fourBtn {order: 0;}
#fiveBtn {order: 0;}
#sixBtn {order: 0;}
#sevenBtn {order: 0;}
#eightBtn {order: 0;}
#nineBtn {order: 0;}
#addBtn {order: 0;}
#subBtn {order: 0;}
#multBtn {order: 0;}
#divideBtn {order: 0;}
#equalBtn {order: 0;}
#clearBtn {order: 0;}
#decimalBtn {order: 0;}
